/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-utilities";
@import "libs/theme/utilities";

html, body {
  height: 100%;
  margin: 0;
}

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 200px;
}

.mat-sidenav-container {
  background: whitesmoke;
  flex: 1;
}
